<html>
<head>
<title>Inter Construtora</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Inter Consturora</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Imóveis
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/simulacao/">Simulação</a>
			</ul>
			<span class="navbar-text"> Processo Seletivo </span>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" th:src="${imovel.caminhoImagem}"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title" th:text="${imovel.nome}"></h5>
				</div>
			</div>
		</div>
		<div th:each="mensagem :${mensagens}" class="alert alert-danger"
			role="alert">
			<span th:text="${mensagem}"></span>
		</div>
		</br>
		<form method="post">
			<div class="form-group">
				<label>Nome</label> <input class="form-control" type="text" value=""
					name="nome">
			</div>
			<div class="form-group">
				<label>Email</label> <input class="form-control" type="tel" value=""
					name="email">
			</div>
			<div class="form-group">
				<label>CPF</label> <input class="form-control" type="text" value=""
					name="cpf">
			</div>
			<div class="form-group">
				<label>Renda R$</label> <input class="form-control" type="text"
					value="" name="renda">
			</div>
			<button class="btn btn-primary">Simular financiamento</button>
		</form>
	</div>
</body>

</htmL>